html {
  font: 10px;
  background: url("./background.jpeg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  color: burlywood;
  text-shadow: 0 0 1rem black;
  text-align: center;
  height: auto !important;
  padding-top: 1rem;
  font-size: 5rem;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: black;
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale3d(1.1.1);
  border-color: burlywood;
  box-shadow: 0 0 1rem burlywood;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: burlywood;
}

.footer {
  margin-top: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
  color: burlywood;
  text-align: center;
}
